$var1: #ffffff;
$var2: #212121;
$var3: #2196f3;
$var4: #757575;
$var5: #000101;
$var6: #afb1b8;
$var7: #D9D9D9;
$var8: #2f303a;
$var9: #00060a;
$hr: #ECECEC;
$team_bg: #F5F4FA;;
$clients_color:#AFB1B8;