
.container {
	max-width: 1140px;
	margin: 0 auto;
}

.h2 {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	color: $var2;
	padding: 94px 0px 50px;
	align-items: center;
}
li {
	text-decoration: none;
	list-style: none;
}

button {
	cursor: pointer;
}
a {
	text-decoration: none;
}
h1 {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	
}
