.footer {
  background-color: $var8;
  padding: 72px 0 60px 0;
  flex-wrap: wrap;

  &__nav--end h4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
    color: $var1;
    display: flex;
    @media (min-width: 320px) {
      
      
      justify-content: center;
    }
   @media (min-width:768px) {
    margin: 0;
   }
    @media (min-width: 1200px) {
      justify-content: start;
    }
  }

  &__adress {
    margin: 0;
    padding: 0;
  }
  &__nav--start {
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  &__nav {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-around;
    }
    @media (min-width: 1200px) {
      gap: 70px;
    }
  }

  &__nav--end a {
    display: block;
    background: rgba(255, 255, 255, 0.1);
    height: 44px;
    width: 44px;
    border-radius: 100%;
    position: relative;
    /* 171.429% */
    letter-spacing: 0.42px;
  }
  &__container {
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-around;
    }
  }
  .footer__adress2 {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    display: flex;
    @media (min-width: 320px) {
      justify-content: center;
    }
    @media (min-width: 1200px) {
      justify-content: start;
    }
  }
  .footer__adress3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    @media (min-width: 320px) {
      justify-content: center;
    }
    @media (min-width: 1200px) {
      justify-content: start;
    }
  }
  .footer__nav--end i {
    transform: translate(-50%, -50%);
    color: $var1;
  }
  &__nav--end {
    @media (min-width: 320px) {
      margin-top: 40px;
    }
  }

  .footer__nav--end a:hover,
  .footer__nav--end a:hover i {
    background-color: $var3;
    color: $var1;
  }

  .footer__nav--end ul {
    display: flex;
    gap: 10px;
    padding: 0;
    @media (min-width: 320px) {
      display: flex;
      justify-content: center;
    }
  }

  .footer__subtitle {
    color: $var1;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    display: flex;
    @media (min-width: 320px) {
      justify-content: center;
    }
    @media (min-width: 1200px) {
      justify-content: start;
    }
  }

  .footer__list input {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    height: 50px;
    padding: 20px;
    box-sizing: border-box;
    @media (min-width: 320px) {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 300px;
      margin-top: 10px;
    }
    @media (min-width: 480px) {
      width: 430px;
    }
  }
  .footer__list button {
    border-radius: 4px;
    background: 3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    margin: 0;
    @media (min-width: 320px) {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      margin-top: 10px;
    }

    @media (min-width: 1200px) {
      display: block;
    }
  }
  .footer__adress1 {
    color: $var1;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    @media (min-width: 320px) {
      text-align: center;
    }
  }
  &__adress2 a {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    @media (min-width: 320px) {
      text-align: center;
    }
  }

  &__adress3 a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    @media (min-width: 320px) {
      text-align: center;
    }
  }

  &__nav--end i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $var1;
  }
  &__list {
    flex-wrap: wrap;
    @media (min-width: 320px) {
      margin-top: 40px;
    }
  }
  &__nav--end ul {
    display: flex;
    gap: 10px;
    padding: 0;
  }

  &__list button {
    @extend %btn;
  }

  &__box {
    gap: 12px;
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-around;
    }
  }

  .studio {
    color: #fff;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    display: flex;
    @media (min-width: 320px) {
      justify-content: center;
    }
    @media (min-width: 1200px) {
      justify-content: start;
    }
  }
}
