.modal {
  position: relative;
  position: absolute;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 651px;
  border-radius: 4px;
  background: $var1;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  @media (min-width: 320px) {
    width: 300px;
    height: 580px;
  }
  @media (min-width:480px) {
    width: 300px;
  }
  @media (min-width:768px) {
    width: 450px;
  }
 
  &__form{
    @media (min-width:320px){
   margin-left:20px ;
    }
  }
  &__item {
    z-index: 200;
   @media (min-width:320px){
    
   }
   
  
  }
  &__title {
    color: $var2;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;

  }
  &__texteria {
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    z-index: 2;
   
    @media (min-width: 320px) {
      width: 90%;
    }
    @media (min-width:768px) {
      width: 95%;
    }
  }
  /* 171.429% */
  &__btn {
   
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: $var3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    z-index: 2;
  
    @media (min-width: 320px) {
      margin-left: 30px;
     
    }
    @media (min-width:768px) {
      margin-left: 101px;
    }
  } 
  &__btn--emmet {
    @media (min-width: 320px) {
      margin-left: 15px;
    }
  }
  .modal__deskr a {
    font-size: 18px;
    z-index: 2;

  }
  
  &__imput {
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    z-index: 200;
    margin: 0 auto;
    @media (min-width: 320px) {
      width: 90%;
    }
    @media (min-width:768px) {
      width: 95%;
    }
  }
  &__svg {
    position: absolute;
    top: 25%;
    left: 5%;
    z-index: 2;
  }
  &__deskr {
    color: $var4;
    font-family: Roboto;
   
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-align: center;
    z-index: 2;
    @media (min-width:320px) {
      font-size: 12px;
      width: 100%;
      flex-wrap: nowrap;
    }
    @media (min-width:768px) {
      font-size: 14px;
    }
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 99999;
}
.close {
  position: absolute;
  right: 8px;
  top: 4%;
}
i:hover {
  color: $var3;
}
.form {
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: 2;
  &__box:hover input {
    border-color: $var3;
  }
  &__box:hover i {
    color: $var3;
  }
  &__box {
    position: relative;
  }
  @media (min-width) {
    
  }
}

.is-hidden {
  display: none;
}
.no-scroll {
  overflow: hidden;
}

.chekbox {
  position: absolute;
  z-index: 2;
  @media (min-width: 320px) {
    top: 77.5%;
    left: 18%;
  }

  @media (min-width: 768px) {
    top: 74.5%;
    left: 2%;
  }
}
