.promo {
  padding: 200px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 74px;
  @media (min-width:320px) {
    background-image: url(../../img/page1/promo_bg_mobile.png);
    height: 400px;
  }
  @media (min-width:480px) {
    background-color: url(../../img/page1/promo_bg_mobile.png);
  }
  &__title {
    color: aliceblue;
  }
  &__btn {
    width: 220px;
    height: 50px;
    border: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: $var1;
    background: $var3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
}
.promo { 
  background-image: url(../../img/page1/promo_bg_desctop.png); 
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
  margin-top: 60px; 
  @media (min-device-pixel-ratio: 2), 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) { 
    background-image: url(../../img/page1/promo_bg_tablet.png); 
  } 
 
  @media screen and (min-width: 768px) { 
    margin-top: 80px; 
    background-image: url(../../img/page1/promo_bg_tablet.png); 
 
    @media (min-device-pixel-ratio: 2), 
      (-webkit-min-device-pixel-ratio: 2), 
      (min-resolution: 192dpi), 
      (min-resolution: 2dppx) { 
      background-image: url(../../img/page1/promo_bg_tablet2x.png); 
    } 
  } 
  @media screen and (min-width: 1200px) { 
    background-image: url(../../img/page1/promo_bg_desctop.png); 
 
    @media (min-device-pixel-ratio: 2), 
      (-webkit-min-device-pixel-ratio: 2), 
      (min-resolution: 192dpi), 
      (min-resolution: 2dppx) { 
      background-image: url(../../img/page1/promo_bg_desctop.png); 
    } 
  }}
