.team {
  padding: 94px 0;
  background-color: $team_bg;
  width: 100%;
  &__card img {
    width: 100%;
 
    @media (min-width:320px) {
      height: auto;
    }
    @media (min-width:768px) {
      height: 374px;
    }
    @media (min-width:1200px) {
      height: 260px;
    }
  }
  &__title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    @media (max-width: 1200px) {
      font-size: 28px;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    margin: 0 15px;
    gap: 30px;
    row-gap: 30px;
  }
  &__card {
    background-color: $var1;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    @media (min-width: 300px) {
      width: 270px;
    }
    @media (min-width: 480px) {
      width: 450px;
      height: 622px;
    }
    @media (min-width:768px){
      width: 354px;
      height: 536px;
    }
    @media (min-width:1200px){
      width: 270px;
      height: 428px;
    }


    &:hover {
      translate: 20px -20px;
      transition-duration: 0.5s;
      transition-delay: 0.5s;
    }
    h2 {
      color: $var4;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.48px;
    }
    h3 {
      color: $var2;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.48px;
    }
  }
  &__ul {
    display: flex;
    justify-content: center;
    padding: 20px;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    a {
      display: block;
      width: 44px;
      height: 44px;
      border-radius: 100%;
      position: relative;
      &:hover,
      &:hover path {
        background-color: $var3;
        fill: $var1;
      }
    }
  }
}

